.wrapper {
  background-color: #FFF;
  width: 650px;
  box-shadow: 0 0 5px lightgray;
  border-radius: 3px;
}

.titleWrapper {
  padding: 20px 30px;
  border-bottom: 1px solid lightgray;
}

.title{
  font-weight: bold;
  font-size: 18px;
  color: #bfc5cb;
}

.tabsWrapper {
  overflow: hidden;
  padding-left: 15px;
}

.tabsWrapper button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 15px;
  transition: 0.3s;
  font-size: 16px;
  color: #848383;
  border-bottom: 3px solid transparent;
  font-weight: 600
}

.tabsWrapper button:hover {
  border-bottom: 3px solid rgba(0,0,0,.1);
}

.tabsWrapper .activeTab {
  border-bottom: 3px solid  #008fe2;
  color: #000;
}