.formWrapper {
  padding: 30px;
}

.formLabel {
  font-size: 14px;
  font-weight: bold;
}

.confirmButton {
  background: #86b043;
  border: none;
  color: #FFF;
  font-size: 14px;
  padding: 7px 15px;
  margin-top: 20px
}

.passwordBtn {
  cursor: pointer;
  border-radius: 0;
}

.formInput {
  border-radius: 0;
  box-shadow: none;
}

.formSelectInput {
  -webkit-appearance: button;
   background-image: url(http://i62.tinypic.com/15xvbd5.png);
   background-position: 98% center;
   background-repeat: no-repeat;
   overflow: hidden;
   padding: 6px 12px;
   white-space: nowrap;
   border-radius: 0;
   box-shadow: none;
}